
.icon-youtube-play:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-gplus-squared:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e808'; } /* '' */